paddleocr[all]
numpy
# paddlepaddlec
protobuf==3.20.0
opencv-python-headless
opencv-python==4.10.0.84
google-generativeai
Pillow
python-dotenv
fastapi
uvicorn[standard]
natsort
celery[redis]
sqlalchemy
aiofiles
python-multipart
DrissionPage
ddddocr